.contacts-section {
	background: #f5f5f5;
	border-top: 1px solid #cdcdcd;
	padding: 50px 0;

	.contacts-title {
		text-align: center;
		margin-bottom: 50px;
	}

	.contacts-section-description {
		width: 80%;
		margin: 44px auto;
	}
}
